html, body{
    height: 100%;
}

body {
    background-color: rgba(149, 210, 212, 0.788);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7em auto;
}

.container-seta{
    grid-column: 1/2;
    grid-row: 1/2;
}

.container-seta a:hover svg path{
    fill: rgb(255, 255, 255) !important;
}

.container-formulario {
    width: 65%;
}

.espaco-container {
    width: 67%;

    grid-column: 1/2;
    grid-row: 2/3;
}

@media (max-width: 570px) {
    body{
        grid-template-rows: 4em auto;
    }
}